:root {
  --bg-color: #072011;
  --accent-green: #004D26;
  --metal-silver: #363636;
  --metal-gradient: linear-gradient(145deg, #9ea7b0, #c0c5cc);
  --text-color: #32FF32;
  --highlight: #39FF14;
}

*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100%;
    overflow: auto;
}

body{
    background-color: blue;
    display: flex;
}

main{
    flex: 1;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
}


#missile-Container{
    height: 100%;
    width: 30%;
    background-color: var(--bg-color);
    border: 10px solid var(--metal-silver);
}


#right-Container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#map{
    flex: 2;
    border-top: 10px solid var(--metal-silver);
    border-right: 10px solid var(--metal-silver);
}

#money{
    color: var(--text-color);
}

#selectedMissile{
    background-color: var(--accent-blue);
    flex: 1;
    display: flex;
    flex-direction: row;
    border-bottom: 10px solid var(--metal-silver);
    border-right: 10px solid var(--metal-silver);
    border-top: 10px solid var(--metal-silver);
}

#search-Container{
    background-color: orange;
    height: 10%;
    width: 100%;
}

#searchField{
    background-color: var(--accent-green);
    color: var(--text-color);
    height: 100%;
    width: 100%;
    box-sizing: none;
    border: 2px solid var(--bg-color);
    border-bottom: 10px solid var(--metal-silver);
}

#searchField:focus{
    outline: none;
}

#searchField::placeholder{
    color: var(--text-color);
    opacity: 1;
}

#searchField::-webkit-search-cancel-button{
    -webkit-appearance: none;
    appearance: none;
}

#model{
    background-color: var(--bg-color);
    width: 50%;
    height: 100%;
}

#missileStats-Container{
    display: flex;
    flex-direction: row;
    width: 40%;
    padding-left: 10px;
    padding-right: 0px;
    margin-right: 50px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#type_menu{
    width: 30px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--highlight);
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -2px;
}

.type{
    width: 100%;
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.type:hover{
    background-color: var(--highlight);
    color: var(--bg-color);
    cursor: pointer;
}


#type_attack{
    border-bottom: 2px solid var(--highlight);
    border-top: 2px solid var(--highlight);
}

#missileList-Container{
    width: 100%;
    display: flex;
    height: 428px;
    flex-direction: row;
}

#missileList{
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-y: auto;
    margin-top: 0;
}

#missileList li{
    margin: 0;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    border-bottom: 1px solid var(--highlight);
}

.locked{
    opacity: 0.5;
    filter: grayscale(100%);
    cursor: not-allowed;
}

#missileList li:hover{
    background-color: var(--highlight);
    color: black;
    cursor: pointer;
}

#missileList::-webkit-scrollbar {
    width: 10px;
}

#missileList::-webkit-scrollbar-track {
    background-color: var(--accent-green);
    border: 1px solid var(--highlight);
}

#missileList::-webkit-scrollbar-thumb { 
    background-color: var(--bg-color);
    border: 1px solid var(--highlight);
}

#rightContent{
    margin-left: 30px;
}


#launchBtn{
    width: 70%;
    height: 50%;
    margin-top: 20%;
    background-color: #8B0000;
    border: 3px solid #FF2B2B;
    color: #FF2B2B;
    font-size: 30px;
    border-radius: 20px;
    transition: 0.3s;
}

#launchBtn:hover{
    background-color: #FF2B2B;
    color:#8B0000;
    border-color: #8B0000;
    cursor: pointer;
}

#launch-Container{
    background-color: var(--bg-color);
    width: 35%;
    display: flex;
    flex-direction: column;
}

#menu-Container{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    background-color: var(--metal-silver);
    justify-content: space-evenly;
}

.menu_block{
    background-color: var(--accent-green);
    color: var(--text-color);
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    transition: 0.3s;
    margin-bottom: 10px;
    border: 2px solid var(--bg-color);
    border-radius: 7px;
}

.menu_block:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#selectedSilo{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-right: 0px;
    margin-top: 10px;
    width: 100%;
}

#gameOverOverlay{
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
    align-items: center;
    justify-content: center;
    display: none;
}

#gameOver{
    z-index: 10000;
    height: 50%;
    width: 50%;
    background-color: #8B0000;
    color: #FF2B2B;
    border: 10px solid #FF2B2B;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    transition: 0.3s ease;
}

#gameOver:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#top{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#treeBtn{
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--accent-green);
    border: 1px solid var(--highlight);
    color: var(--text-color);
    transition: 0.3s;
}

#treeBtn:hover{
    background-color: var(--highlight);
    color: var(--bg-color);
    border-color: var(--bg-color);
}

#skillTree{
    background-color: var(--bg-color);
    display: none;
    position: fixed;
    margin: 0;
    padding: 20px;
    z-index: 100000;
    height: 100%;
    width: 100%;
}

#logoutBtn{
    background-color: var(--accent-green);
    color: var(--text-color);
    border: 1px solid var(--highlight);
    margin-left: 600px;
    margin-right: 10px;
}

#sidebarBtn{
    background-color: var(--accent-green);
    color: var(--text-color);
    border: 1px solid var(--highlight);
}