:root {
  --bg-color: #072011;
  --accent-green: #004D26;
  --metal-silver: #363636;
  --metal-gradient: linear-gradient(145deg, #9ea7b0, #c0c5cc);
  --text-color: #32FF32;
  --highlight: #39FF14;
}

html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: pink;
    display: flex;
    flex-direction: column;
}

main{
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-green);
    color: var(--text-color);
    height: 50px;
    width: 100%;
    border-bottom: 2px solid var(--highlight);
}

footer{
    background-color: var(--accent-green);
    border-top: 2px solid var(--highlight);
    color: var(--text-color);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container{
    background-color: var(--accent-green);
    height: 70%;
    width: 25%;
    border: 2px solid var(--highlight);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#loginBtn{
    background-color: var(--bg-color);
    border: 2px solid var(--highlight);
    width: 60%;
    height: 10%;
    border-radius: 10px;
    color: var(--text-color);
}

.input-group {
    position: relative;
    width: 80%;
    margin-right: 5%;
}

.input-group input {
    width: 100%;
    padding: 14px 10px;
    font-size: 16px;
    border: 1px solid var(--highlight);
    border-radius: 4px;
    outline: none;
    color: var(--text-color);
    background-color: var(--accent-green);
}

.input-group label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s ease;
    padding: 0 6px;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -1px;
    font-size: 12px;
    color: var(--text-color);
    background: var(--accent-green);
}
